@import url('https://fonts.googleapis.com/css?family=Catamaran:700|Montserrat:700&display=swap');

/* Recipe Searchpage */
.search-content {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
   
}

.search-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

/* NavBar */
.navbar{
    padding: .8rem;
}

.navbar-nav li {
  padding-right: 20px;
}

.nav-Link {
  font-size: 1.1em !important;
}

/* Error 404 styles */
.errorh1{
    font-weight: bold;
    
}



.sidebyside{
    display:flex; 
    flex-direction:row;
}

.centerpic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.center-error {
    top: 50%;
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    display: flex;
    padding: 0 40px ;
}

.center {
    /* top: 50%;
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0 auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 40px ;
  }


  /* Homepage Styles */

  .banner {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: absolute;
  }

  .banner-phrase{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 70px;
    text-align: center;
  }

  .banner-phrase2{
    font-family: 'Catamaran', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 150%;
    text-align: center; 
    letter-spacing: .05rem;
  }

  .banner-square{
    width: 500px;
    background: rgba(11, 6, 6, 0.337); 
    position: relative;
    padding: 50px 50px 50px 50px;
    filter: alpha(opacity=60);
    text-align: center;
    
  }

  .wording {
    padding-top: 50px;
    padding-right: 100px;
    padding-bottom: 50px;
    padding-left: 100px;
  }

  /*Font Attributes*/
.navbar-brand {

    font-size: 20px;
    font-weight: bold;
    color: white;
}

/* UserPage */

.bg {
  
  height: 50%;
  background-position: center;
  background-repeat: repeat;
  background-size: contain;
  
  }

.userpage-header {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
.userpage-welcome {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: rgb(254, 186, 59);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.addIngredient {
  width: 450px;
  padding: 2% 0 0;
  margin: auto;
  
}

.card-header{
  background-color: rgba(187, 255, 109, 0.8);
}
.createIngredientForm{
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 400px;
  margin: 0 auto 30px;
  padding: 30px;
  text-align: center;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.addButton {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: rgb(255, 206, 82);
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.addButton:hover,.addButton:active,.addButton:focus {
  background:  rgb(161, 205, 75);;
}

.label-text{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: #3f3f3f;
  line-height: 1.2;
  text-align: left;
  top: 14px;
  left: -105px;
  width: 100px;
  height: 20px;

}

/* Scrollbar */

.scrollbar {
  overflow: scroll;
  width: 800px;
  max-Height: 400px;
  border: 3px solid rgb(244, 190, 13);
  padding: 2px;
}

.scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background: #00000033;
}

.fa-trash-alt {
  padding:8px;
  margin-right:4px;
}
.icon-btn {
  padding: 1px 15px 3px 2px;
  border-radius:50px;
}

/* custom colors  */
.scrollbar-primary::-webkit-scrollbar {
  background-color: #F5F5F5;
}

.scrollbar-primary::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #4285F4;
}

.scrollbar-young-passion::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }
  
  .scrollbar-young-passion::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }
  
  .scrollbar-young-passion::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-gradient(linear, left top, right top, from(#ff8177), color-stop(0%, #ff867a),
  color-stop(21%, #ff8c7f), color-stop(52%, #f99185), color-stop(78%, #cf556c), to(#b12a5b));
  background-image: -webkit-linear-gradient(left, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%,
  #b12a5b 100%);
  background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%,
  #b12a5b 100%); }

/*Media Query*/
@media (max-width: 650px) {
  .banner-square {  
    text-align: center;
    position: center;
    width: 100%;
    background-size: cover;
    position: relative;
  }
  
  .banner-phrase{
    text-align: center;
    font-size: 50px;
  }
  .banner {
    background-position: center center;
    justify-content: center;
    
  }

  .wording {
    justify-content: center;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }

  .addIngredient{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  }

  .createIngredientForm{
   
    z-index: 1;
    background: #FFFFFF;
    max-width: 450px;
    margin: 5px auto 30px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }

  .label-text{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 10px; 
    color: #808080;
    line-height: 1.2;
    text-align: left;
    width: 100px;
    height: 20px;
  }

  /* scrollbar */
.scrollbar{
  position: center;
  text-align: center;
  border: 3px solid rgb(244, 190, 13);
  padding: 2px;
  display: center;
  margin: auto;
  width: 100%;
  max-Height: 400px;
}

/* 404 */
.sidebyside{
  display:flex; 
  flex-direction:column-reverse;
}
.centerpic {
  display: block;
  text-align:center;
  object-fit: contain;
  width: 100%;
  height:auto;
}

/* userpage */
.bg {
  
  height: 100%;
  background-position: center;
  background-repeat: repeat;
  background-size: auto;
  
  }
}