@import url('https://fonts.googleapis.com/css?family=Catamaran:700|Montserrat:700&display=swap');



/* NavBar */
.navbar{
    padding: .8rem;
}

.navbar-nav li {
  padding-right: 20px;
}

.nav-Link {
  font-size: 1.1em !important;
}

/* Error 404 styles */
.errorh1{
    font-weight: bold;
}



.sidebyside{
    display:flex; 
    flex-direction:row;
}

.centerpic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.center {
    /* top: 50%;
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0 auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 40px ;
  }


  /* Homepage Styles */

  .banner {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: absolute;
  }

  .banner-phrase{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 70px;
    text-align: center;
  }

  .banner-phrase2{
    font-family: 'Catamaran', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 150%;
    text-align: center; 
    letter-spacing: .05rem;
  }

  .banner-square{
    width: 500px;
    background: rgba(11, 6, 6, 0.337); 
    position: relative;
    padding: 50px 50px 50px 50px;
    filter: alpha(opacity=60);
    text-align: center;
    
  }

  .wording {
    padding-top: 50px;
    padding-right: 100px;
    padding-bottom: 50px;
    padding-left: 100px;
  }

  /*Font Attributes*/
.navbar-brand {

    font-size: 20px;
    font-weight: bold;
    color: white;
}

/* UserPage */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.addIngredient {
  width: 360px;
  padding: 2% 0 0;
  margin: auto;
  
}

.createIngredientForm{
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 400px;
  margin: 0 auto 30px;
  padding: 30px;
  text-align: center;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.addButton {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: rgb(255, 206, 82);
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.addButton:hover,.addButton:active,.addButton:focus {
  background:  rgb(255, 245, 99);;
}

.label-text{
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #808080;
  line-height: 1.2;
  text-align: right;
  top: 14px;
  left: -105px;
  width: 100px;
  height: 20px;

}


/*Media Query*/
@media (max-width: 650px) {
  .banner-square {  
    text-align: center;
    position: center;
    width: 100%;
    background-size: cover;
    position: relative;
  }
  
  .banner-phrase{
    text-align: center;
    font-size: 50px;
  }
  .banner {
    background-position: center center;
    justify-content: center;
    
  }

  .wording {
    justify-content: center;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
  }
}