/* #hp {
    background-color: grey;
} */

/* Error 404 styles */
.errorh1{
    font-weight: bold;
}



.sidebyside{
    display:flex; 
    flex-direction:row;
}

.centerpic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.center {
    /* top: 50%;
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0 auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 40px ;
  }


  /* Homepage Styles */
.jumbotron {
     background-image: url( 
      "./assets/hpbanner2.png"
      );

    background-size: 100;
    height: 500px;
    min-height: 300px;
    max-height: 500px;
    background-repeat:no-repeat ;
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
   
  }

  .banner-phrase{
    font-weight: bold;
    color: white;
    font-size: 310%;
    text-align: center; 
  }

  .banner-phrase2{
    font-weight: bold;
    color: white;
    font-size: 150%;
    text-align: center; 
  }

  .banner-square{
    width: 400px;
    background: rgba(0, 0, 0, 0.337); 
    position: relative;
    padding: 60px 50px 50px 50px;
    margin: 5px;
    filter: alpha(opacity=60);
  }

  .fade-in{
    -webkit-animation: fade-in 2s ease;
    -moz-animation: fade-in ease-in-out 2s both;
    -ms-animation: fade-in ease-in-out 2s both;
    -o-animation: fade-in ease-in-out 2s both;
    animation: fade-in 2s ease;
    visibility: visible;
  }
  
  @-webkit-keyframes fade-in{0%{opacity:0;} 100%{opacity:1;}}
  @-moz-keyframes fade-in{0%{opacity:0} 100%{opacity:1}}
  @-o-keyframes fade-in{0%{opacity:0} 100%{opacity:1}}
  @keyframes fade-in{0%{opacity:0} 100%{opacity:1}}

  /*Font Attributes*/
.navbar-brand {

    font-size: 20px;
    font-weight: bold;
    color: white;
}